/backend/node_modules
/.vscode
/backend/python/__pycache__
/backend/script/run.sh
/backend/.env
/backend/.vs
/frontend/node_modules
/frontend/.env
/frontend/.vscode
/frontend/.git
/backend/.git
/frontend/.gitignore
/backend/.gitignore
/frontend/.eslintcache
/backend/.eslintcache
/frontend/.eslintrc.js
/backend/.eslintrc.js
/frontend/.prettierrc
/frontend/.prettierignore
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/.yarn
/frontend/.yarnrc
/frontend/.yarn-integrity
/frontend/.yarnrc.yml
/frontend/.yarnignore
