/node_modules
/.vscode
/python/__pycache__
/script/run.sh
/.env
/.vs
/frontend/node_modules
/frontend/.env
/frontend/.vscode
/frontend/.git
/frontend/.gitignore
/frontend/.eslintcache
/frontend/.eslintrc.js
/frontend/.prettierrc
/frontend/.prettierignore
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/.yarn
/frontend/.yarnrc
/frontend/.yarn-integrity
/frontend/.yarnrc.yml
/frontend/.yarnignore
