/server/node_modules
/.vscode
/server/python/__pycache__

/server/.env
/server/.vs
/server/.git
/server/.gitignore
/server/script/run.sh

/frontend/node_modules
/frontend/.env
/frontend/.vscode
/frontend/.git
/frontend/run.sh

/frontend/.gitignore
/frontend/.eslintcache
/server/.eslintcache
/frontend/.eslintrc.js
/server/.eslintrc.js
/frontend/.prettierrc
/frontend/.prettierignore
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/.yarn
/frontend/.yarnrc
/frontend/.yarn-integrity
/frontend/.yarnrc.yml
/frontend/.yarnignore
/package-lock.json
/package.json
/.hintrc


/auto/automation
/auto/chromedriver-win64
